body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.editor-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
}

.editor-topbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.topbar-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.editor-main {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.editor-sidebar-left {
  width: 20vw; 
  background-color: #a0c2b7;
  border-right: 1px solid #ccc;
  padding: 1rem;
  box-sizing: border-box;
}

.editor-sidebar-right {
  width: 10vw; 
  background-color: #a1a9f7;
  border-left: 1px solid #ccc;
  padding: 1rem;
  box-sizing: border-box;
}

.block-list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.layout-block {
  padding: 10px;
  background-color: #eaeaea;
  border: 1px solid #bbb;
  cursor: grab;
  user-select: none;
}

.editor-document {
  width: 50vw;
  flex: 1;
  padding: 2rem;
  background-color: #afffb3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
}

.document-a4 {
  /*width: 794px; /* A4 width in pixels @ 96dpi */
  /*height: 1123px; /* A4 height in pixels @ 96dpi */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  box-sizing: border-box;
}